<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    <title>Reviews</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="../static/fontawesome-free-6.4.0-web/css/all.css"
    />
  </head>
  <body>
    <main>
      <div class="title">
        <h2>Our Reviews</h2>
        <div class="underline"></div>
      </div>

      <div class="content">
        <div class="images">
          <img
            src="../static/images/john doe.jpg"
            alt="john doe"
            id="image_main"
          />
        </div>

        <h5 class="name">John Doe</h5>
        <h5 class="designation">Intern</h5>
        <p class="info">
          In my internship, I was able to interact with the council and board
          members who enabled me to know and learn a lot in various areas. This
          was mainly due to bountiful experience they have and their willingness
          to assist me to learn and know more as a young person.
        </p>
        <div class="toggle">
          <i class="fa-solid fa-toggle fa-less-than"></i>
          <i class="fa-solid fa-toggle fa-greater-than"></i>
        </div>
        <button class="surprise">Surprise me</button>
      </div>
    </main>
    <script src="../static/js/index.js"></script>
  </body>
</html>
