<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    <title>Reviews</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="../static/fontawesome-free-6.4.0-web/css/all.css"
    />
  </head>
  <body>
    <main>
      <div class="title">
        <h2>Our Reviews</h2>
        <div class="underline"></div>
      </div>

      <div class="content">
        <div class="images">
          <img
            src="../static/images/andrea piacquadio.jpg"
            alt="john doe"
            id="image_main"
          />
        </div>

        <h5 class="name">John Doe</h5>
        <h5 class="designation">web developer</h5>
        <p class="info">
          "Back-end web developers create the website's structure, write code,
          and verify the code works. Their responsibilities also may include
          managing access points for others who need to manage a website's
          content. Front-end web developers work on the visual part of the
          website
        </p>
        <div class="toggle">
          <i class="fa-solid fa-toggle fa-less-than"></i>
          <i class="fa-solid fa-toggle fa-greater-than"></i>
        </div>
        <button class="surprise">Surprise me</button>
      </div>
    </main>
    <script src="../static/js/index.js"></script>
  </body>
</html>
